@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes bounce-x {
    0%, 100% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: translateX(12px);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }
  .animate-bounce-x {
    animation: bounce-x 1.2s infinite;
  }
}
